# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Project9/.vs/Project1/v14/.suo
*.suo
Project9/Project1/Debug/Project1.tlog/link.write.1.tlog
*.tlog
Project9/Project1.VC.db
*.sln
Project9/Debug/Project1.ilk
*.exe
Project9/Debug/Project1.pdb
*.log
Project9/Project1/Debug/vc140.idb
*.pdb
Project9/Project1/Project1.vcxproj
*.filters
Project9/Project9.VC.db
*.vcxproj
